<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<p class="fs-3 fw-bold mb-1">
  <%= @post.title %>
</p>
<p class="fst-italic text-dark mb-1">
  post by <%= @post.author.username %>
</p>
<p class="fst-italic text-dark">
  <%= @post.created_at %>
</p>
<p>
  <%= @post.body %>
</p>
<% if @post.post_picture.attached? %>
  <img src="<%=(url_for(@post.post_picture))%>" class="mw-100" alt="">
<% end %>




<p class="fs-4 fw-bold mt-5">Comments</p>
<%= render @post.comments %>

<p class="fs-4 fw-bold mt-5">Add a comment:</p>
<%= render 'comments/form' %>